---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: iris-model-pv
  namespace: iris-ml
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /tmp/iris-models
    type: DirectoryOrCreate
  storageClassName: standard

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: iris-model-pvc
  namespace: iris-ml
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
